

<% provide(:title, '2') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Tagging checkpoints App</title>
  </head>
  <body>
    <h1>Checkpoint # <%= yield(:title) %></h1>
   <p>Here information related to Check point #2 will be displayed</p>
<p>alarms, work instructions, checklists, etc</p>
<% status ={ success: "Alarm event corrected", alarm: "Alarm event in Checkpoint #"} %>
<div class="alert alert-danger"><%= alarm="Alarm event in Checkpoint #"+ yield(:title) %></div>
  </body>
</html>